{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
  <h2>Welcome to Movie Buff!</h2>
  <p>Track your favorite movies and the actors who bring them to life.</p>
  <section class="logo-container">
    <div class="movie-container">
      <img src="{% static 'images/splash.svg' %}" alt="The movie Collector movie" />
    </div>
    <img
      src="{% static 'images/logotype.svg' %}"
      alt="Text reads: movie Collector"
    />
  </section>
  {% if not user.is_authentimovieed %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
  {% endif %}
  {% endblock %}
  
  