{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<div>
  <h2>Welcome to Movie Buff!</h2>

  <p>Track your favorite movies and the actors who bring them to life.</p>
</div>
<section class="log-container">
  <div class="movie-container">
    <img src="{% static 'images/movie-time2.jpeg' %}" alt="Movie Bufffff" style="height: 290px; width: auto; border-radius: 8px;" />
  </div>
</section>
{% endblock %}