{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
  <h2>Welcome to Movie Buff!</h2>

  <p>Track your favorite movies and the actors who bring them to life.</p>

  <section class="log-container">
    <div class="movie-container">
      <img src="{% static 'images/the-movie.jpg' %}" alt="The Movie Buff movie" />
    </div>
    <img src="{% static 'images/frog.png' %}" alt="Text reads: movie buff" />
  </section>
{% endblock %}